header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2vw;
  border-bottom: 3px solid var(--medium-blue);
}

header > img {
  height: 100%;
  width: auto;
}

button {
  background-color: var(--medium-blue);
  color: whitesmoke;
}

button:hover {
  background-color: var(--industrial-blue);
  color: whitesmoke;
  cursor: pointer;
}

@media screen and (max-width: 1600px) {
  header > img {
    max-height: 20vh;
  }
  button {
    padding: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  header > img {
    max-height: 18vh;
  }
  button {
    padding: 0.8rem;
  }
}

@media screen and (max-width: 900px) {
  header > img {
    max-height: 15vh;
  }
  button {
    padding: 0.75rem;
  }
}

@media screen and (max-width: 700px) {
  header > img {
    max-height: 13vh;
  }
  button {
    padding: 0.5rem;
  }
}
@media screen and (max-width: 400px) {
  header > img {
    max-height: 11vh;
  }
  button {
    padding: 0.25rem;
  }
}
