:root{
    --primary-blue:#5E9FF2;
    --darker-blue:#2D4B73;
    --black:#0D0D0D;
    --bright-blue:#2165BF;
    --lighter-than-bright:#5C8EF2;
}
hr{
    color:var(--primary-blue);
    background-color: var(--primary-blue);
    border:none;
    height:2px;
    margin-top:2rem;
    margin-bottom:2rem;
}
h1, h2, h3{
    font-family: "BPreplay", sans-serif;
}
a:link{
    color:var(--primary-blue);
    text-decoration: none;
}
a:visited{
    color:var(--bright-blue)
}
a:hover{
    color:var(--lighter-than-bright);
}
body{
    color:var(--darker-blue);
    font-size:2.5vh;
}
address{
    font-style: normal;
}
dt{
    font-weight: bold;
}
#main-logo{
    display: block;
    max-width:20%;
    height:6rem;
    border-radius: 0.7rem;
    margin:auto;
}
#quick-navigation{
    position:fixed;
    left:2rem;
    border:1px solid var(--lighter-than-bright);
    border-radius: 0.7rem;
    margin:5rem;
    box-shadow: -15px 10px 1px 2px var(--lighter-than-bright);
}
#link-1{
    animation-name: "the-fade";
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
#link-2{
    animation-name: "the-fade";
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-delay:500ms;
}
.nav-link{
    list-style: none;
    font-family: "Fira Code", monospace;
    margin-right:1rem;
}
.info-text{
    font-family: "Fira Code", monospace;
}
.normal-text{
    font-family:"Lora", serif;
    line-height: 4vh;
}
.centered{
    margin: auto;
    align-content:center;
    width:50%;
}
.section-separator{
    color:var(--lighter-than-bright, lightsteelblue);
    width:50%;
}
@keyframes the-fade{
    0%{
        opacity: 100%;
    }
    50%{
        opacity: 50%;
    }
    0%{
        opacity:100%;
    }
}
@media (max-width:1080px) and (max-height:2340px){
    hr{
    color:var(--primary-blue);
    background-color: var(--primary-blue);
    border:none;
    height:1px;
    margin-top:1rem;
    margin-bottom:1rem;
    margin-left:1px;
    margin-right:1px;
    width:100%;
    }
    h1, h2, h3{
        font-family: "BPreplay", sans-serif;
    }
    a:link{
        color:var(--primary-blue);
        text-decoration: none;
    }
    a:visited{
        color:var(--bright-blue)
    }
    a:hover{
        color:var(--lighter-than-bright);
    }
    body{
        color:var(--darker-blue);
        font-size:1vh;
    }
    #main-logo{
        display: block;
        height:5vh;
        border-radius: 0.35rem;
        margin:auto;
    }
    #quick-navigation{
        position:absolute;
        display:none;
        top:auto;
        width:1px;
        height:1px;
        text-indent:-10000px;
        border:0.5px solid var(--lighter-than-bright);
        border-radius: 0.35rem;
        margin:2.5rem;
        box-shadow: -7.5px 5px 0.5px 1px var(--lighter-than-bright);
        overflow:hidden;
    }
    #link-1{
        animation-name: "the-fade";
        animation-iteration-count: infinite;
        animation-duration: 2.5s;
    }
    #link-2{
        animation-name: "the-fade";
        animation-iteration-count: infinite;
        animation-duration: 2.5s;
        animation-delay:600ms;
    }
    .nav-link{
        list-style: none;
        font-family: "Fira Code", monospace;
        margin-right:0.5rem;
    }
    .info-text{
        font-family: "Fira Code", monospace;
    }
    .normal-text{
        font-family:"Lora", serif;
    }
    .centered{
        margin: auto;
        align-content:center;
        width:80%;
    }
    .section-separator{
        color:var(--lighter-than-bright, lightsteelblue);
        width:80%;
    }
}