:root{
	--default-image-size:500px;
}
@media (max-width:350px){
	--default-image-size:250px;	
}
p,h1 {
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
	width:var(--default-image-size);
}
